RAILS_SECRET_KEY_BASE=<%= SecureRandom.hex(64) %>

### DB
DDB_USER=<%= app_name.parameterize %>_ddb_user
DDB_PASS=<%= @dev_pass %>

PDB_USER=<%= app_name.parameterize %>_pdb_user
PDB_PASS=<%= @prod_pass %>

TDB_USER=<%= app_name.parameterize %>_tdb_user
TDB_PASS=<%= @test_pass %>

