RAILS_SECRET_KEY_BASE=<%= SecureRandom.hex(64) %>

### DB
<%= app_name.upcase %>_DDB_USER=<% app_name %>_DDB_USER
<%= app_name.upcase %>_DDB_PASS=<%= SecureRandom.hex(64) %>
<%= app_name.upcase %>_PDB_USER=<% app_name %>_PDB_USER
<%= app_name.upcase %>_PDB_PASS=<%= SecureRandom.hex(64) %>
<%= app_name.upcase %>_TDB_USER=<% app_name %>_TDB_USER
<%= app_name.upcase %>_TDB_PASS=<%= SecureRandom.hex(64) %>

