
$brand_primary: #000;
$brand_highlight: #fff;

$alto: #ddd;
$black: #000;
$black_haze: #f7f7f7;
$black_trans: rgba(0,0,0,.8);
$boston_blue: #428bca;
$casablanca: #f0ad4e;
$chestnut_rose: #d9534f;
$cinnabar: #e74c3c;
$dark_grey: #cdcdcd;
$desert_storm: #f8f8f8;
$fern: #5cb85c;
$gallery: #eee;
$goblin: #3d8b3d;
$golden_bell: #df8a13;
$light_grey: #c4c4c4;
$log_cabin: #222;
$mercury: #e7e7e7;
$mine_shaft_50: rgba(50,50,50,.5);
$mountain_mist: #999;
$pink_swan: #bbb;
$red_90: rgba(254,209,54,.9);
$red: #ca0000;
$red_dark: #ad0404;
$seashell: #f1f1f1;
$tall_poppy: #b52b27;
$tapa: #777;
$viking: #5bc0de;
$white: #fff;
$white_2: rgba(255,255,255,.02);
