body {
  background-color: $desert_storm;
}

#wrapper {
  width: 100%;
}

#page-wrapper {
  padding: 0 15px;
  min-height: 568px;
  background-color: $white;
  @media(min-width:768px) {
    position: inherit;
    margin: 0 0 0 250px;
    padding: 0 30px;
    border-left: 1px solid $mercury;
  }
}

.form-wrapper {
  padding: 10px;
}

