%header.masthead
  .container
    .intro-text
      .intro-lead-in INTRO TEXT
      .intro-heading LARGE HEADING
      %a.btn.btn-xl{:href => "#"} BUTTON TEXT
%section#first_section
  .container
    .row
      .col-lg-12.text-center
        %h2.section-heading LOREM IPSUM
        %h3.section-subheading.text-muted Lorem ipsum dolor sit amet consectetur.
    .row.text-center
      .col-md-4
        %h4 LOREM IPSUM
        %p.text-muted Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.
      .col-md-4
        %h4 LOREM IPSUM
        %p.text-muted Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.
      .col-md-4
        %h4 LOREM IPSUM
        %p.text-muted Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.

