nav.navbar {
  border-radius: 0;
  border: 0;
  font-size: 1.1em;
  margin: 0;
  padding: 0;
  width: 100%;
  .navbar-brand {
    padding:0;
    margin: 0;
  }
  &.navbar-default .navbar-nav > .active > a {
    background-color: transparent;
  }
}
.navbar-toggle {
  border: 0;
  margin-right: 40px;
  &:hover {
    background-color: transparent;
  }
}
