@import "modules/colors";
@import "modules/mixins";
@import "modules/variables";
@import "bootstrap";

@import "modules/typography";
@import "modules/forms";

@import "partials/common";
@import "partials/footer";
@import "partials/header";
@import "partials/home";
@import "partials/nav";
@import "partials/static";

